.container>*{
            border: 3px solid gold;
            background-color:black;
            padding: 30px;
            color: rgb(39, 207, 24);
            font-size: 24px;       
}

nav li a{
    color: rgb(77, 243, 11);
}
header{
    grid-area: header;
    background-image: url("./C.jpg");
    

    
}

nav{
    grid-area:navber ;
    background-image: url("./F.jpg" )  ;

}

main{
    grid-area:main ;
       background-image: url("./B.jpg");
}

#sidebar{
    grid-area: sidebar;
    background-image: url("./G.jpg");
}

#advertise{
    grid-area:advertise ;
    background-image: url("./G.jpg");
}

footer{
    grid-area: footer;
    background-image: url("./A.jpg");
}


.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "navber main main sidebar"
    "navber main main advertise"
    "footer footer footer footer"

}
@media screen and (max-width:576px) {
    .container{
    grid-template-areas: 
    "header"
    "navber"
    "main"
    "sidebar"
    "advertise"
    "footer"

}
    
}
@media screen and (min-width:577px) and (max-width:992px) {
      .container{
    grid-template-areas: 
    "header   header  header"
    "navber   navber  navber"
    "sidebar   main    main"
   "advertise  footer footer"

}
}